# 実践データ加工/可視化
#1  
[データの構成](#データの構成)  
[csvの読み込み](#csvの読み込み)  
[カラムの追加](#)  
[統計量の確認](#統計量の確認)  

## データの構成
![水準](image/0129.drawio.png)

## csvの読み込み

In [3]:
import pandas as pd
#csvの読み込み
data = pd.read_csv("../input/1_data/22_shizuoka_all_20210331.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x90 in position 44: invalid start byte

文字コードのエラーが発生します。  
測定器や設備、ソフトによってその文字の表現方法が異なり、読み込み方を記載方法に合わせる必要があります。  
pandasでは指定がなければ`utf-8`を使用するので、ほかの文字コードの場合明示します。  
本来は文字コードに何が使われているか調べる必要があり、わからない場合は一つずつ`vscode`などで文字コードを試し、文字化けしないものを選択します。

In [4]:
data = pd.read_csv("../input/1_data/22_shizuoka_all_20210331.csv", encoding='shift-jis')

In [5]:
#読み込んだdataの表示
data.head()

,1,1000013040008,01,1.1,2018-04-02,2015-10-05,静岡家庭裁判所,Unnamed: 7,101,静岡県,...,Unnamed: 20,Unnamed: 21,2015-10-05.1,1.2,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",Unnamed: 27,シズオカカテイサイバンショ,0
0,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
1,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
2,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
3,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
4,6,1000020222135,1,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kakegawa City,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,カケガワシ,0

このcsvはカラムがないデータでした。  
1行目をカラムとして認識してしまっているので、再度読み込みなおして行きましょう。

In [6]:
#データ数を数える
len(data)

114612

In [7]:
#明示的にヘッダー(カラム)がないことを記す。
data = pd.read_csv("../input/1_data/22_shizuoka_all_20210331.csv", encoding='shift-jis', header=None)

In [8]:
data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0

In [9]:
len(data)

114613

1行目のデータがカラムからデータになったことで1データ増えました。  
ここでカラムにはどのようなものが格納されているか確認します。

In [10]:
data.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
      dtype='int64')

In [11]:
len(data.columns)

30

行数が30なので、カラム数も30ですね。  
現在カラムがないので0から順に数字で保管されています。

In [12]:
data

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,114609,9700150095744,1,0,2019-09-27,2019-08-22,久根共有財産管理委員会,NaN,499,静岡県,...,NaN,NaN,2019-08-22,1,NaN,NaN,NaN,NaN,クネキヨウユウザイサンカンリイインカイ,0
114609,114610,9700150097253,1,0,2020-01-24,2019-12-26,静岡小児感染症研究会,NaN,499,静岡県,...,NaN,NaN,2019-12-26,1,NaN,NaN,NaN,NaN,シズオカシヨウニカンセンシヨウケンキユウカイ,0
114610,114611,9700150099530,1,0,2020-07-13,2020-06-23,北方領土返還要求静岡県民会議,NaN,499,静岡県,...,NaN,NaN,2020-06-23,1,NaN,NaN,NaN,NaN,ホツポウリヨウドヘンカンヨウキユウシズオカケンミンカイギ,0
114611,114612,9700150099852,1,0,2020-08-20,2020-07-22,両河内児童クラブ,NaN,499,静岡県,...,NaN,NaN,2020-07-22,1,NaN,NaN,NaN,NaN,リヨウゴウチジドウクラブ,0
114612,114613,9700150101659,1,0,2021-01-26,2021-01-14,静岡市茶業振興協議会,NaN,499,静岡県,...,NaN,NaN,2021-01-14,1,NaN,NaN,NaN,NaN,シズオカシチヤギヨウシンコウキヨウギカイ,0

ここではデータの中身がどのような形式で格納されているか確認しています。  
手打ちのデータなどでよく発生する
>・数字だけど全角で入力してしまって文字扱い  
>・数字だけど誤字、スペースが入り文字扱い  

などトラブルがよくあるので、意図した形式になっているか確認します。

In [13]:
data.dtypes

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114613 entries, 0 to 114612
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       114613 non-null  int64
 1   1       114613 non-null  int64
 2   2       114613 non-null  int64
 3   3       114613 non-null  int64
 4   4       114613 non-null  object
 5   5       114613 non-null  object
 6   6       114613 non-null  object
 7   7       1243 non-null    float64
 8   8       114613 non-null  int64
 9   9       114613 non-null  object
 10  10      114613 non-null  object
 11  11      114596 non-null  object
 12  12      1195 non-null    float64
 13  13      114613 non-null  int64
 14  14      114613 non-null  int64
 15  15      114440 non-null  float64
 16  16      0 non-null       float64
 17  17      0 non-null       float64
 18  18      10077 non-null   object
 19  19      10077 non-null   float64
 20  20      666 non-null     float64
 21  21      1111 non-null    object
 22  22      114613 non-null  object
 23  23      114613 non-null  int64
 24  24      232 non-null     object
 25  25      230 non-null     object
 26  26      230 non-null     object
 27  27      0 non-null       float64
 28  28      46620 non-null   object
 29  29      114613 non-null  int64
dtypes: float64(8), int64(9), object(13)
memory usage: 26.2+ MB

本演習では数字も連続値としてではなくラベルとして扱うので文字として認識させなおします。

In [15]:
data = pd.read_csv("../input/1_data/22_shizuoka_all_20210331.csv", encoding='shift-jis',header=None,dtype=object)

In [16]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [17]:
data.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

見た目は変わりませんが、データの型は変わっていますね。

## カラムの追加
本演習ではカラムが別データになっています。    
分ける理由は様々です。
>・配布先が様々で配布先によってカラム言語を変えたい。  
>・処理するときと人に見せる時でカラム名を変えたい。

といった意図があります。  
今回の場合はデータを見るに前者のようです。

In [18]:
mst = pd.read_csv("../input/1_data/mst_column_name.txt",encoding = 'shift-jis')
mst.head()

  column_id\tcolumn_name_ja\tcolumn_name_en
0                   1\t一連番号\tsequenceNumber
1                  2\t法人番号\tcorporateNumber
2                          3\t処理区分\tprocess
3                          4\t訂正区分\tcorrect
4                      5\t更新年月日\tupdateDate

データ取得したソフトの特性か区切りが'\t'のようです。  
区切りとして認識できていないので読み込みなおしましょう。

In [19]:
mst = pd.read_csv("../input/1_data/mst_column_name.txt",encoding = 'shift-jis', sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

データ数を確かめ、元データとカラム数が一致するか確認しましょう

In [20]:
len(mst)

30

In [21]:
len(mst) == len(data.columns)

True

問題ないことが確認できたので、元データのカラムに代入します。  
まずは英語のカラム名だけを取り出しましょう。

In [22]:
columns = mst.column_name_en.values

In [23]:
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

ここで元データのカラムに抽出した`columns`を代入します。

In [24]:
data.columns = columns

In [25]:
data.head(15)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
5,6,1000020222135,01,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kakegawa City,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,カケガワシ,0
6,7,1000020222143,01,1,2018-04-05,2015-10-05,藤枝市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Fujieda City,Shizuoka,"1-11-1,Okadeyama, Fujieda shi",NaN,フジエダシ,0
7,8,1000020222151,01,1,2018-04-05,2015-10-05,御殿場市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Gotemba City,Shizuoka,"483,Hagiwara, Gotemba shi",NaN,ゴテンバシ,0
8,9,1000020222259,01,1,2018-04-05,2015-10-05,伊豆の国市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Izunokuni shi,Shizuoka,"Nagaoka340-1, Izunokuni shi",NaN,イズノクニシ,0
9,10,1000020222267,01,1,2020-09-29,2015-10-05,牧之原市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Makinohara City,Shizuoka,"447-1 Shizunami, Makinohara City",NaN,マキノハラシ,0
10,11,1000020223018,01,1,2018-04-05,2015-10-05,東伊豆町,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Higashiizu Town,Shizuoka,"3354,Inatori, Higashiizu cho",NaN,ヒガシイズチョウ,0
11,12,1000020223026,01,1,2018-04-05,2015-10-05,河津町,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kawazu Town,Shizuoka,"Tanaka 212-2, Kawazu Town",NaN,カワヅチョウ,0
12,13,1000020223042,01,1,2020-09-29,2015-10-05,南伊豆町,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Minamiizu Town,Shizuoka,"315-1,Shimogamo , Minamiizu-cho",NaN,ミナミイズチョウ,0
13,14,1000020228958,01,1,2020-09-29,2015-10-05,駿遠学園管理組合,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Sunengakuen Management Association,Shizuoka,"112,Fukuyo, Shimada shi",NaN,スンエンガクエンカンリクミアイ,0
14,15,1000020229601,01,1,2018-04-05,2016-02-08,富士山南東消防組合,NaN,201,静岡県,...,NaN,NaN,2016-02-08,1,Mt.Fuji Southeast Fire Dept.,Shizuoka,"4-40,Minamitamachi, Mishima shi",NaN,フジサンナントウショウボウクミアイ,0

カラムが置き換わりました。

## 統計量の確認
今回はすべて`object`なので数値的統計量は少ないですが、普段であれば最大値や平均などの統計量を一括で調べることができます。  
またデータ処理及び機械学習では欠損値の扱いが重要です。  
確認しましょう。

In [26]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,...,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,...,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,...,12,12,101316,114613,2,230,10,NaN,30,114388

In [27]:
data.isna()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114609,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114610,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114611,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114612,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False

In [28]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64